.tools {
  margin: auto 0;
  min-width: 8vw;
  max-width: 10vw;
  height: 100vh;
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tools .container {
  width: 6rem;
  height: 8rem;
  border: 5px solid rgba(255, 255, 255, 0.253);
  margin-top: 3rem;
}
.tools .container:hover {
  transform: scale(1.1);
}

.tools .container.green {
  border-color: green;
}

.tools .container.red {
  border-color: red;
}

.text {
  width: 100%;
  height: 20%;
  background: wheat;
  text-align: center;
  padding: 3px 0;
  cursor: pointer;
}
.picaxe {
  width: 100%;
  height: 80%;
  background-image: url("./Imgs/icons8-minecraft-pickaxe-96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.axe {
  width: 100%;
  height: 80%;
  background-image: url("./Imgs/icons8-minecraft-axe-96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.shovel {
  width: 100%;
  height: 80%;
  background-image: url("./Imgs/icons8-minecraft-shovel-96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.last-block {
  margin-top: 3rem;
  width: 50px;
  height: 50px;
  border: 2px solid whitesmoke;
}
.last-block:hover {
  transform: scale(1.1);
}
nav .last-block.green {
  border-color: green;
}

.inside-of-block {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.new {
  width: 6rem;
  height: min-content;
  color: whitesmoke;
  text-align: center;
}

.btn-type {
  margin-top: 3rem;
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.596);
  cursor: pointer;
  border-radius: 5px;
}

.btn-type:hover {
  transform: scale(1.1);
}

.chest {
  margin-top: 3rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid red;
  border: 3px solid rgba(255, 255, 255, 0.596);
  cursor: pointer;
}

.inside-chest{
  width: 100%;
  height: 100%;
  background-image: url("./Imgs/chest.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;  
}
.chest:hover{
  transform: scale(1.1);
}