*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
}

table{
  border:none;
  border-collapse: collapse;
  border-spacing: 0;
  
}
.block{
    width: 3rem;
    height: 3rem;
}
.world-Container{
  background: lightblue;
}
#cloud{
  width: 3rem;
  height: 3rem;
  background: rgb(250, 250, 250);
}
.dirt{
  background-image: url("/Imgs/Dirt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.grass{
  background-image: url("/Imgs/Grass.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.oak{
  background-image: url("/Imgs/Oak-Log.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.leaves{
  background-image: url("/Imgs/Leaves.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.stone{
  background-image: url("/Imgs/Stone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.sun{
  background-color: rgb(255, 255, 113);
}
.Cobblestone{
  background-image: url("./Imgs/Cobblestone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}